beautifulsoup4==4.13.0b2
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
dnspython==2.6.1
html2text==2024.2.26
idna==3.6
pyfiglet==1.0.2
requests==2.31.0
soupsieve==2.5
typing_extensions==4.11.0rc1
urllib3==2.2.1