beautifulsoup4==4.13.0b2
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
dnspython==2.7.0
html2text==2024.2.26
idna==3.10
pyfiglet==1.0.2
requests==2.32.3
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.2.3
scrapy==2.11.2